<a href="https://colab.research.google.com/github/abdulrahman1100/DRSAM/blob/main/potholeDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
# https://drive.google.com/file/d//view?usp=sharing
fileDownloaded = drive.CreateFile({'id':'1edBve0TvEfOBBB-e-mT1Niq2cTVMVuaj'})

In [27]:
from google.colab import drive
from pathlib import Path
import sys
drive.mount("/content/drive", force_remount=True)

zip_ref = zipfile.ZipFile("/content/drive/MyDrive/Pothole.zip", 'r')
zip_ref.extractall("/tmp")
zip_ref.close()

Mounted at /content/drive

In [52]:
!ls /content/drive/MyDrive/RoadCondition/
import os

bad1_sensors.csv  bad5_sensors.csv    good3_sensors.csv  good7_sensors.csv
bad2_sensors.csv  good10_sensors.csv  good4_sensors.csv  good8_sensors.csv
bad3_sensors.csv  good1_sensors.csv   good5_sensors.csv  good9_sensors.csv
bad4_sensors.csv  good2_sensors.csv   good6_sensors.csv

In [84]:

df1=pd.DataFrame()
df2=pd.DataFrame()
for i in range(1,6):
  label='bad'+str(i)+'_sensors.csv'
  # print(label)
  path = os.path.join('/content/drive/MyDrive/RoadCondition/', label)
  temp=pd.read_csv(path)
  df1=df1.append(temp)

for i in range(3,8):
  label='good'+str(i)+'_sensors.csv'
  # print(label)
  path = os.path.join('/content/drive/MyDrive/RoadCondition/', label)
  temp=pd.read_csv(path)
  df2=df2.append(temp)

In [85]:
df1.info()
df2.info()

# df2.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2099 entries, 0 to 297
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2099 non-null   float64
 1   latitude        2099 non-null   float64
 2   longitude       2099 non-null   float64
 3   speed           2099 non-null   float64
 4   accelerometerX  2099 non-null   float64
 5   accelerometerY  2099 non-null   float64
 6   accelerometerZ  2099 non-null   float64
 7   gyroX           2099 non-null   float64
 8   gyroY           2099 non-null   float64
 9   gyroZ           2099 non-null   float64
dtypes: float64(10)
memory usage: 180.4 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5973 entries, 0 to 1025
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       5973 non-null   float64
 1   latitude        5973 non-null   float64
 2   longitude       5973 non-null   float64
 3   speed           5973 non-null   float64
 4   accelerometerX  5973 non-null   float64
 5   accelerometerY  5973 non-null   float64
 6   accelerometerZ  5973 non-null   float64
 7   gyroX           5973 non-null   float64
 8   gyroY           5973 non-null   float64
 9   gyroZ           5973 non-null   float64
dtypes: float64(10)
memory usage: 513.3 KB

In [86]:
df2=df2.iloc[0:2099]
df1=df1.iloc[0:2099]

In [88]:
df2.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2099 entries, 0 to 681
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2099 non-null   float64
 1   latitude        2099 non-null   float64
 2   longitude       2099 non-null   float64
 3   speed           2099 non-null   float64
 4   accelerometerX  2099 non-null   float64
 5   accelerometerY  2099 non-null   float64
 6   accelerometerZ  2099 non-null   float64
 7   gyroX           2099 non-null   float64
 8   gyroY           2099 non-null   float64
 9   gyroZ           2099 non-null   float64
dtypes: float64(10)
memory usage: 180.4 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2099 entries, 0 to 297
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2099 non-null   float64
 1   latitude        2099 non-null   float64
 2   longitude       2099 non-null   float64
 3   speed           2099 non-null   float64
 4   accelerometerX  2099 non-null   float64
 5   accelerometerY  2099 non-null   float64
 6   accelerometerZ  2099 non-null   float64
 7   gyroX           2099 non-null   float64
 8   gyroY           2099 non-null   float64
 9   gyroZ           2099 non-null   float64
dtypes: float64(10)
memory usage: 180.4 KB

In [89]:
#  here the step of adding label to the data 
df1['label']=0
df2['label']=1
df2.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2099 entries, 0 to 681
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2099 non-null   float64
 1   latitude        2099 non-null   float64
 2   longitude       2099 non-null   float64
 3   speed           2099 non-null   float64
 4   accelerometerX  2099 non-null   float64
 5   accelerometerY  2099 non-null   float64
 6   accelerometerZ  2099 non-null   float64
 7   gyroX           2099 non-null   float64
 8   gyroY           2099 non-null   float64
 9   gyroZ           2099 non-null   float64
 10  label           2099 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 196.8 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2099 entries, 0 to 297
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2099 non-null   float64
 1   latitude        2099 non-null   float64
 2   longitude       2099 non-null   float64
 3   speed           2099 non-null   float64
 4   accelerometerX  2099 non-null   float64
 5   accelerometerY  2099 non-null   float64
 6   accelerometerZ  2099 non-null   float64
 7   gyroX           2099 non-null   float64
 8   gyroY           2099 non-null   float64
 9   gyroZ           2099 non-null   float64
 10  label           2099 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 196.8 KB

In [96]:
# final dataset 
DataSet=df1.append(df2)

In [97]:
DataSet.head()

      timestamp   latitude  longitude  ...     gyroY     gyroZ  label
0  1.492618e+09  40.479540 -79.922397  ... -0.089149  0.048968      0
1  1.492618e+09  40.479540 -79.922397  ... -0.044369  0.028426      0
2  1.492618e+09  40.479540 -79.922397  ...  0.055567 -0.057066      0
3  1.492618e+09  40.479521 -79.922406  ... -0.163904  0.075220      0
4  1.492618e+09  40.479521 -79.922406  ... -0.120941  0.047796      0

[5 rows x 11 columns]

In [98]:
DataSet=DataSet.drop(['timestamp','latitude','longitude','speed'],axis=1)
DataSet.head()

   accelerometerX  accelerometerY  accelerometerZ  ...     gyroY     gyroZ  label
0       -0.030884       -0.852554        0.499725  ... -0.089149  0.048968      0
1        0.018356       -0.918076        0.301804  ... -0.044369  0.028426      0
2        0.180893       -0.925156        0.432632  ...  0.055567 -0.057066      0
3       -0.196838       -0.942047        0.452545  ... -0.163904  0.075220      0
4       -0.043716       -0.887177        0.410736  ... -0.120941  0.047796      0

[5 rows x 7 columns]